vbox-core/src/main/xsd/VirtualBox.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0.0"
           xmlns="http://www.innotek.de/VirtualBox-settings"
           targetNamespace="http://www.innotek.de/VirtualBox-settings"
           elementFormDefault="qualified">
    <!--
        The actual machine's hardwaroe,

        This meant to be as similar as possible to the .vbox format used by VirtualBox.
        This has a whole bunch of benefits.
    -->
    <xs:element name="VirtualBox">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Machine">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MediaRegistry">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="HardDisks">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="HardDisk" type="HardDiskImage" minOccurs="1" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DVDImages">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="DVDImage" type="DVDImage" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="FloppyImages">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="FloppyImage" type="FloppyImage" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Hardware">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="CPU" minOccurs="0">
                                            <xs:complexType>
                                                <xs:attribute name="count" type="xs:int" default="1"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Memory">
                                            <xs:complexType>
                                                <xs:attribute name="RAMSize" type="xs:int" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Boot">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Order" maxOccurs="4">
                                                        <xs:complexType>
                                                            <xs:attribute name="position" type="xs:int" use="required"/>
                                                            <xs:attribute name="device" type="OrderDevice"
                                                                          use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="BIOS" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ACPI" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="IOACPI" minOccurs="0" >
                                                        <xs:complexType>
                                                            <!-- mandatory for multiple CPUs or 64 bit machines -->
                                                            <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Network">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Adapter" maxOccurs="4">
                                                        <xs:complexType>
                                                            <!-- https://blogs.oracle.com/fatbloke/entry/networking_in_virtualbox1 -->
                                                            <xs:choice>
                                                                <xs:element name="NAT"/>
                                                                <xs:element name="HostOnlyInterface">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="name" type="xs:string" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="BridgedInterface">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="name" type="xs:string" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="InternalNetwork">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="name" type="xs:string" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:choice>
                                                            <xs:attribute name="slot" type="xs:int" use="required"/>
                                                            <xs:attribute name="cable" type="xs:boolean" default="true"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <!-- TODO -->
                                        <xs:element name="SharedFolders" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="SharedFolder">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" type="xs:string" use="required"/>
                                                            <xs:attribute name="hostPath" type="xs:string" use="required"/>
                                                            <xs:attribute name="writable" type="xs:boolean" use="required"/>
                                                            <xs:attribute name="autoMount" type="xs:boolean" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="IO" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="IoCache" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="StorageControllers">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="StorageController" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="AttachedDevice" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Image">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="uuid" type="xs:string"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="type" type="AttachedDeviceType"
                                                                          use="required"/>
                                                            <xs:attribute name="port" type="xs:int" use="required"/>
                                                            <xs:attribute name="device" type="xs:int" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string" use="required"/>
                                                <xs:attribute name="Bootable" type="xs:boolean" default="false"/>
                                                <xs:attribute name="type" type="StorageControllerType" use="required"/>
                                                <xs:attribute name="PortCount" type="xs:int" default="1"/>
                                                <xs:attribute name="useHostIOCache" type="xs:boolean" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="OSType" type="xs:string" default="Other"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="AttachedDeviceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HardDisk"/>
            <xs:enumeration value="DVD"/>
            <xs:enumeration value="Floppy"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StorageControllerType">
        <xs:restriction base="xs:string">
            <!-- IDE -->
            <xs:enumeration value="PIIX4"/>
            <!-- SATA -->
            <xs:enumeration value="AHCI"/>
            <!-- Floppy -->
            <xs:enumeration value="I82078"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OrderDevice">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Floppy"/>
            <xs:enumeration value="DVD"/>
            <xs:enumeration value="HardDisk"/>
            <xs:enumeration value="None"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- TODO remove duplication -->
    <xs:complexType name="Image" abstract="true">
        <xs:attribute name="uuid" type="xs:ID" use="required"/>
        <xs:attribute name="size" type="xs:int"/>
        <xs:attribute name="location" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="HardDiskImage">
        <xs:complexContent>
            <xs:extension base="Image"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DVDImage">
        <xs:complexContent>
            <xs:extension base="Image"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FloppyImage">
        <xs:complexContent>
            <xs:extension base="Image"/>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>